
body {
    background-color: skyblue;
	
}

table, th, td {
	border: 1px solid rgba(255,32,255,0.9);
	border-collapse: collapse;
	background-color: rgba(80,0,0,0.9)
	
}

th {
	background-color: peru;
}

td{
	font-style:italic;
	color: rgba(255,255,255,0.9)
}	
