@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face{
	font-family:"Lobster", cursive;
	font-style:normal;
	src: url(https://fonts.googleapis.com/css?family=Lobster);	
}

.reshead{
	font-family:"Lobster", cursive;
	text-align:center;
	font-size:70px;
	font-weight:400;
	color:maroon;
}

.reslink{
	padding:0em 1em;
	color:maroon; 
}
.resfoot{
	text-align:center;
	font-size:20px;
	font-family:"lucida grande";
	color:maroon;
}