@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face{
	font-family:"Lobster", cursive;
	font-style:normal;
	src: url(https://fonts.googleapis.com/css?family=Lobster);	
}

.reshead{
	font-family:"Lobster", cursive;
	text-align:center;
	font-size:70px;
	font-weight:400;
	color:maroon;
}
a.reslink{
	padding:0em 1em; 
}

a.reslink:link{color:maroon; text-decoration:underline; font-weight:normal;}
a.reslink:visited{color:navy; text-decoration:underline; font-weight:normal;}
a.reslink:hover{color:maroon; text-decoration:underline; font-weight:bold;}
a.reslink:active{color:maroon; text-decoration:none; font-weight:normal;}

.resfoot{
	text-align:center;
	font-size:20px;
	font-family:"lucida grande";
	color:maroon;
}