@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face{
	font-family:"Lobster", cursive;
	font-style:normal;
	src: url(https://fonts.googleapis.com/css?family=Lobster);	
}

.reshead{
	font-family:"Lobster", cursive;
	text-align:center;
	font-size:70px;
	font-weight:400;
	color:maroon;
}

a.reslink{
	padding:0em 1em; 
}

a.reslink:link{color:maroon; font-family:comic sans ms; text-decoration:underline; font-weight:normal;}
a.reslink:visited{color:navy; font-family:comic sans ms; text-decoration:underline; font-weight:normal;}
a.reslink:hover{color:maroon; font-family:comic sans ms; text-decoration:underline; font-weight:bold;}
a.reslink:active{color:maroon; font-family:comic sans ms; text-decoration:none; font-weight:normal;}

.test-icon{
	color:maroon;
}

div#resCarousel div.carousel-inner div.item img.SWR-image{
	width:75%; 
	height:300px; 
	margin-left:auto; 
	margin-right:auto;
	border:thin solid maroon;
}

.SWR-marker{
	color:maroon;	
}

.carousel-caption{
	color:yellow;
}

div.alert{
	width:75%; 
	margin-left:auto; 
	margin-right:auto; 
	border:thin solid maroon; 
	color:maroon;
}

.resfoot{
	text-align:center;
	font-size:20px;
	font-family:"lucida grande";
	color:maroon;
}